[Login]
IbLoginId=${TWS_USERID}
IbPassword=${TWS_PASSWORD}
AutoRestart=true
ReadOnlyLogin=no
StoreSettingsOnServer=false
AcceptIncomingConnectionAction=accept

[SecondFactor]
UseInteractive=false
TotpSecret=${TOTP_SECRET}

volumes:
  - ./stable/config/ibc/config.ini.tmpl:/home/ibgateway/ibc/config.ini.tmpl
